@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

h1,h2,h3,h4,h5,p,i,b,ul,em
{
    font-family: 'Roboto', sans-serif;
    
}

h6 {
 color: rgb(214, 42, 42);
 text-align: center;
 margin-top: 15px;
}



/* IMAGENES*/
.p-5 {
  padding: 10%;
}
.p-3 {
  padding: 5%;
}

.pl-5 {
  padding-left: 10%;
}
.pl-3 {
  padding-left: 5%;
}

.pl-2 {
  padding-left: 2%;
}

.pt-3 {
  padding-top: 5%;
}

.pt-5 {
  padding-top: 10%;
}

.mt-5 {
  margin-top: 5%;
}

.mt-5 {
  margin-top: 10%;
}
.imagenmin {
  width: 80%;
  max-width: 800px;
  display: block;
  margin: auto;
  margin-bottom: 35px;
}

.imagenescontenido {
  display: block;
  box-shadow: 2px 2px 15px #111; 
  width: 100%;
  max-width: 450px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 45px;
}

.imagenmini{
  display: block;
  box-shadow: 2px 2px 15px #111; 
  width: 100%;
  max-width: 200px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 45px;
  border-radius:100%; 
}

  


.portada1{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/WhatsApp%20Image%202021-09-13%20at%205.40.21%20PM%20(1).jpeg?alt=media&token=f839db6b-fd5c-4b83-bb29-9e8f328ce1b7");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}

.portada2{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/pexels-gabriela-cust%C3%B3dio-da-silva-2539269.jpg?alt=media&token=2b3dfcec-5d2d-4519-b0d2-6ebeaa044d16");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}
.portada3{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/WhatsApp%20Image%202021-09-13%20at%205.40.21%20PM%20(2).jpeg?alt=media&token=a62114de-cef1-4bae-bbd5-c0b2ce7d4e1e");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}

.portada4{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/WhatsApp%20Image%202021-09-13%20at%205.40.22%20PM.jpeg?alt=media&token=f8131f32-64f8-4138-bb4c-ed159f3c6184");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}

.portada5{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/colombia-1558499_1920.jpg?alt=media&token=bdfe14e2-6c08-4590-91f6-668924ffb3e0");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}

.portada6{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/guitar-2276181_1920.jpg?alt=media&token=1c298ff0-4dbc-4446-8178-639fec829a15");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}

.portadaP{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/vallenato-1105006_1920.jpg?alt=media&token=54b3f415-1337-4746-99ef-828b78fbde96");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  margin-bottom: 50px;
}

.fondorojo{
  z-index: 1;
  background-color:rgba(168, 11, 11, 0.411);
  position: absolute;
  top:0;
  left:0;
  Width:100%; 
  height: 500px
}

.portadaHome{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mincultura-a4665.appspot.com/o/WhatsApp%20Image%202021-09-13%20at%205.40.21%20PM.jpeg?alt=media&token=b7fb16b8-4e1b-45bd-87b9-fbcf16c21e0f");
  height: 300vh;
  Width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fondorojohome{
  z-index: 1;
  background-color:rgba(168, 11, 11, 0.411);
  position: absolute;
  Width:100%; 
  height:100%;
}





/* paginas*/

.titulo{
  color: red;
  font-size: 210%;
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;

}

.tituloHome {
  z-index:10;
  color:white;
  font-size: 200%;
  font-weight:bold;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 370px;
  text-align: center;
  position: absolute;
  padding:80px;

}



.subtitulo {
  z-index:10;
  color:white;
  font-size: 180%;
  font-weight:bold;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 180px;
  text-align: center;
  position: absolute;
  padding:40px;
}



.subcapitulo{
  color:rgb(243, 22, 22);
  font-size: 130%;
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  text-align: left;
}


.parrafo {
  color: white;
  width: 80%;
  text-align: justify;
  display: block;
  margin: auto;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
}

.page {
  padding-top: 100px;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 100px;
  background-color: #32313a;
  box-shadow: 0 8px 30px 10px #1c1c1c;
}

.pagesubtitulos {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 100px;
  background-color:#32313a;
  box-shadow: 0 8px 30px 10px #1c1c1c;
}

.pageHome {
  height: 187vh;
  Background-position: center;
  background-color:#32313a;
  box-shadow: 0 8px 30px 10px #1c1c1c;
}

.page a {
  color: red;
  text-decoration: unset;
}


ul,ol{
  color:white;
  width: 80%;
  text-align: justify;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  
}

em{
  color: rgb(173, 173, 173);
  width: 70%;
  text-align: justify;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 17px;
}

.confondo{
  background-color: rgba(168, 11, 11, 0.322);
  color: white;
  width: 70%;
  text-align: justify;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 17px;
}

li{
margin-bottom:10px;

}

.destacados{
  color: white;
  border:solid 1px rgb(241, 69, 69);
  width: 70%;
  text-align: justify;
  display: block;
  margin: auto;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}
 .destacado-especial{
  color: white;
  font-weight:bolder
 }

/*TABLA*/

.tablamin {
  width: 80%;
  max-width: 800px;
  margin: auto;
  font-size: 80%;
  margin-bottom:20px;
  
}

.tablamin td {
  border-collapse: collapse;
  border: 1px solid rgb(204, 110, 110);
  text-align: left;
  padding: 7px;
  color:white;
}

.tablamin th {
  border-collapse: collapse;
  border: 1px solid white;
  color: white;
  background-color: rgb(214, 42, 42);
  text-align: center;
  padding: 15px;
}

.videomin {
  width: 80%;
  max-width: 600px;
  height: 315px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  height: 50px;
}

.estrofa li{
  margin: 0%;
  list-style-type: none;
  font-size: 80%;
}
.estrofaparrafo{
  font-size: 80%;
  text-align: justify;
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 22px;
}
.estrofaparrafo2{
  font-size: 80%;
  text-align: justify;
  width: 80%;
  display: block;
  margin: auto;
  
}

.letratabla5{
  text-align:left;
  margin-bottom: 0%;
  font-size: 80%;
}

.letratablatitulo{
  text-align:center;
  font-size: 80%;
  padding:2px;
}


.contenedortabla{
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 22px;
}

.contenedortabla .col{
  margin-bottom: 1px;
  color: white;
  border: rgb(238, 67, 67) 1px solid;
  padding-bottom: 7px;  
}

.contenedortabla2 .col{
  margin-bottom: 1px;
  color: white;
  padding-bottom: 7px;
  
}


/*Menu*/

a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: blueviolet;
}

.subitems{
  font-size: 0.8em;
  
}

.menu {
  margin-top: 0px;
  background-color: #32313a;
  box-shadow: 0 8px 30px 10px #1c1c1c;
}
.menu a {
  color: white;
  text-decoration: unset;
}
.menu a:hover {
  color: red;
}

.menu a:active {
  color: blue;}


.menu li {
  color: red;
  margin-bottom: 7px;
}

.menu ul{
 
  display: block;
  margin: auto;
  text-align:left;
}

/*MODALES*/

.modal-content{
  
    color: black;
    text-align: justify;
    padding-left:25px;
    padding-right:25px;
    border: 1px solid red;
  }

  sup{
    color: red;
    cursor:pointer;

  }

  .numeromodal{
    color: red;
  }
  .closemodal{ 
    color:white;
    background-color:red;
    font-size:140%;
    border:1px solid red; 
    padding-left: 8px;
    padding-right: 8px;
  }

  .imagenAnexos{
    width: 100%;
    max-width: 100%;
    padding-top:20px;
  }

  .rojos{
    color: red;
    }
  .preguntas{
    color: rgb(179, 40, 40);
  }

    body{
      background-color: #2e2f35;
    }


    /*CREDITOS*/

    .tituloC{
      color: red;
      font-size: 170%;
      width: 80%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      text-align: center;  
    }
    .parrafoC1{
      display: block;
      margin: auto;
      margin-bottom: 0px;
      text-align: center; 
    }


    .parrafoC2{
      display: block;
      margin: auto;
      margin-bottom: 45px;
      text-align: center; 
    }

    .parrafoC3{
      color: rgb(173, 173, 173);
      width: 80%;
      text-align: center;
      display: block;
      margin: auto;
      margin-bottom: 15px;
      font-family: 'Roboto', sans-serif;
    }

    .rojoC{
      color: red;
    }


